/* Uploaded image */
a.button.rwmb-thickbox-upload {
	margin-top: -10px;
}

._lrl_bgimage label{
line-height: 36px;	
}


div.rwmb-field.rwmb-thickbox_image-wrapper._lrl_bgimage {
	margin: 10px 0 22px 0;
}



.rwmb-images {
	overflow: hidden;
	margin-top: 0px;
	}

.rwmb-images li {
	margin: 0 10px 10px 0;
	float: left;
	width: 310;
	height: 95px;
	text-align: center;
	cursor: move;
	position: relative;
	}

.rwmb-images img {
	width: 310px;
	height: 95px;
	}

.rwmb-image-bar {
	color: #fff;
	font-weight: bold;
	background: #000;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
	text-decoration: none;
	}

.rwmb-image-bar a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	}
	
.rwmb-add-file.button{
	margin-top: 5px;
	}	
	
.file-input { 
	margin: 5px 0;
	}	