/* =Styles for 'normal' meta boxes
-------------------------------------------------------------- */
.rwmb-field {
	margin: 15px 0;
	}
	
.rwmb-label, 
.rwmb-input {
	display: inline-block;
	vertical-align: top;
	}
	
.rwmb-label {
	width: 19%;
	}

.rwmb-label label {
	font-weight: bold;
	}
	
/* 75% if field has label, 100% if no label */
.rwmb-input {
	width: 100%;
	}
	
.rwmb-label ~ .rwmb-input {
	width: 80%;
	}
	
.rwmb-input h4 {
	margin-top: 0;
	}

.rwmb-input p.help, 
.rwmb-input p.description, 
.rwmb-input span.description, 
.rwmb-input .form-wrap p{
	font-style: normal;
	display: block;
	color: #999;
	margin: 5px 0 0 0;
	line-height: 18px;
	text-shadow: white 0 1px 0;
	}
	
.rwmb-select {
	width: auto;
	}
	
.rwmb-text {
	width: 60%;
	}
		
.rwmb-textarea {
	resize: vertical;
	width: 99%;
	}

.rwmb-clone {
	min-height: 24px;
	}

.rwmb-clone > input[type="radio"],
.rwmb-clone > input[type="checkbox"] {
	margin: 6px 0 0 4px;
	}
	
/* fix width to not overlap button for cloned sliders */
.rwmb-clone .rwmb-slider {
	width: 80%;
	margin: 6px 0 0;
	}
	
/* fix buttons after sliders */
.clearfix + .rwmb-button {
	margin-top: -16px;
	}
	
.rwmb-button {
	display: inline;
	float: right;
	}
	
/* Hidden labels, :input fields, buttons */
.rwmb-label.hidden,
.rwmb-input.hidden,
.hidden .rwmb-button {
	display: none;
	}

/* Fix empty block below admin footer (issue #24) */
#ui-datepicker-div {
	display: none;
	}

/* =Styles for 'side' meta boxes
-------------------------------------------------------------- */

#side-sortables .rwmb-label, 
#side-sortables .rwmb-input {
	width: 100%;
	}

#side-sortables .rwmb-input .rwmb-text {
	width: 100%;
}
/* =Styles for 'radio-image' meta boxes
-------------------------------------------------------------- */

.rwmb-label-radio-image img {
    border: 1px solid whiteSmoke;
    margin: 0 5px 0 0;
    cursor: pointer;
	}

.rwmb-label-radio-image.selected img { border-color: #e3e3e3; }

.rwmb-radio-image { display: none; }

/* =Style for 'checkbox' meta boxes 
-------------------------------------------------------------- */

input.rwmb-checkbox{
	float: left;
	margin: 9px 5px 0 0;
	}


/* =Inner Sidebar Styling 
-------------------------------------------------------------- 
.inner-sidebar #side-sortables .rwmb-label,

.inner-sidebar #side-sortables .rwmb-input {
	width: 49%;
	}
*/