@media (max-width: 1200px) {
	
}
@media (max-width: 1024px) {

}
@media (max-width: 979px) {

}
@media (max-width: 767px) {

}
@media (max-width: 570px) {

}
@media (max-width: 480px) {

}
@media (max-width: 240px) {	

}




