/*
Theme Name: Bootstrap Basic
Theme URI: http://ndigit.co
Description: Wordpress theme
Version: 1.1
Author: Ryan Allen
Author URI: http://ndigit.co
*/

*{margin:0;padding:0;}

body {
	font-family: 'Open Sans', sans-serif;	
	font-size: 14px;
}

/* GENERAL STYLES */
a img {
	border: none;	
}

.alignnone {
	float: none;	
	text-align: inherit;
}
.aligncenter {
	text-align: center;
}
	img.aligncenter  {
		display: block;
		margin: 0 auto;	
	}
.alignleft {
	text-align:left;	
}
	img.alignleft {
		float: left;
		margin: 10px 10px 10px 0;	
	}
.alignright {
	text-align:right;	
}
	img.alignright {
		float:right;	
		margin: 10px 0 10px 10px;
	}

td {
	vertical-align:top;	
}

/* END GENERAL STYLES */

